#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=TriggerCMD App
Comment=
Exec=sh -c "triggercmd app"
Icon=/home/gustavo/Imagens/icontriggercmd.png
Path=
Terminal=false
StartupNotify=true
